<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OpenDTU_MQTTLogger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OpenDTU_MQTTLogger.Properties.Settings>
            <setting name="MQTTBrokerAddress" serializeAs="String">
                <value>192.168.50.141</value>
            </setting>
            <setting name="MQTTBrokerPort" serializeAs="String">
                <value>1883</value>
            </setting>
            <setting name="MQTTUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="MQTTPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="LogFilename" serializeAs="String">
                <value>e:\test.csv</value>
            </setting>
            <setting name="LogInterval" serializeAs="String">
                <value>300</value>
            </setting>
        </OpenDTU_MQTTLogger.Properties.Settings>
    </userSettings>
</configuration>